<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ZIZI BAKERY</title>
  <link rel="stylesheet" href="/css/qnaPage.css" th:href="@{/css/faqPage.css}"/>
  <link rel="stylesheet" href="/css/global.css" th:href="@{/css/global.css}"/>
</head>
<body>
<header  th:replace="~{component/header :: header}">
</header>
<main>
  <section th:replace="~{component/main :: main}"></section>
  <section th:replace="~{component/main :: drop}"></section>
  <div class="board">
    <h1>FAQ</h1>
    <div class="questions">
      <ul class="question">
        <li class="faq">
          <p>질문1</p>
          <p>답변1</p>
        </li>
        <li class="faq">
          <p>질문2</p>
          <p>답변2</p>
        </li>
        <li class="faq">
          <p>질문3</p>
          <p>답변3</p>
        </li>
        <li class="faq">
          <p>질문4</p>
          <p>답변4</p>
        </li>
        <li class="faq">
          <p>질문5</p>
          <p>답변5</p>
        </li>
      </ul>
      <ul class="question">
        <li class="faq">
          <p>질문6</p>
          <p>답변6</p>
        </li>
        <li class="faq">
          <p>질문7</p>
          <p>답변7</p>
        </li>
        <li class="faq">
          <p>질문8</p>
          <p>답변8</p>
        </li>
        <li class="faq">
          <p>질문9</p>
          <p>답변9</p>
        </li>
        <li class="faq">
          <p>질문10</p>
          <p>답변10</p>
        </li>
      </ul>
    </div>

  </div>

</main>
<footer th:replace="~{component/footer :: footer}"></footer>
</body>
</html>